del {
    color: #999;
}

del:hover {
    text-decoration: none;
}

article a {
    color: #0080ff;
}

.diff_unrated {
    color: #2d2d2d;
    font-weight: bold;
}

.diff_bronze {
    color: #ad5600;
    font-weight: bold;
}

.diff_silver {
    color: #435f7a;
    font-weight: bold;
}

.diff_gold {
    color: #ec9a00;
    font-weight: bold;
}

.diff_platinum {
    color: #27e2a4;
    font-weight: bold;
}

.diff_diamond {
    color: #00b4fc;
    font-weight: bold;
}

.diff_ruby {
    color: #ff0062;
    font-weight: bold;
}

.lang_c {
    color: #5c6bc0;
    font-weight: bold;
}

.lang_cpp {
    color: #659ad2;
    font-weight: bold;
}

.lang_python3 {
    color: #ffd43b;
    font-weight: bold;
}

.lang_python2 {
    color: #ffe873;
    font-weight: bold;
}

.lang_java {
    color: #ed8b00;
    font-weight: bold;
}

.lang_js {
    color: #f0db4f;
    font-weight: bold;
}

.lang_cs {
    color: #a077db;
    font-weight: bold;
}

.lang_php {
    color: #787cb5;
    font-weight: bold;
}

.lang_ruby {
    color: #d51f06;
    font-weight: bold;
}

.lang_kt {
    color: #6b70fc;
    font-weight: bold;
}

.lang_rust {
    color: #000;
    font-weight: bold;
}
